<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/mail-list-favicon.png" type="png">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' integrity='sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==' crossorigin='anonymous'/>
    <!-- Vue -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js' integrity='sha512-DJ2+sosWB5FnZAIeCWAHu2gxQ7Gi438oOZLcBQSOrW8gD0s7LIXDv/5RW76B3FcljF40BXnfqNIo6Dhp7dFHJg==' crossorigin='anonymous'></script>
    <!-- Axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.js' integrity='sha512-//dh2f858Fr7wqGN0IrKqOwzFRMSNDFepYnq0R0Nau+vpQRaUYwViFi7KVniyCALFPOaaMd1n38d5q0pboHjUw==' crossorigin='anonymous'></script>
    <!-- Css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Vue Mailing List</title>
</head>

<body>
    
    <div id="app" class="d-flex justify-content-center align-items-center flex-column">

        <h1 class="text-warning fw-bold">Welcome to Mail Platform</h1>

        <div class="card text-light" style="width: 25rem;">

            <div class="card-header d-flex align-items-center flex-column">

                <h4 class="fw-bold">Mailing List</h4>

                <div class="description d-flex justify-content-center text-center">

                    <span>
                        Click on <span class="text-warning">Generate</span> to get 10 mail address
                        <span class="d-block">or</span>
                        Click on <span class="text-danger">Reset</span> to remove it
                    </span>
                    <!-- <p>Click on <span>Generate</span> to get 10 mail address</p>
                    <p>or</p>
                    <p>Click on <span>Reset</span> to remove it</p> -->

                </div>

            </div>
            <div class="card-body">
                <ul v-if="mailList.length === 10">
                    <li v-for="mailAddress in mailList" class="p-1">{{mailAddress}}</li>
                </ul>
                <div v-else class="loading d-flex justify-content-center">
                    <img src="assets/img/loading.gif" alt="loading">
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <button type="button" class="btn btn-outline-warning me-2" @click="getMailList()">Generate</button>
                <button type="button" class="btn btn-outline-danger" @click="resetMailList()">Reset</button>
            </div>
        </div>
    </div>



    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- js -->
    <script src="assets/js/script.js"></script>
</body>

</html>